<?xml version="1.0" encoding="UTF-8" ?>
<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="com.me.simpleimageload"
  version="1.1.0">
  <name>SIMPLE Image Load</name>
  <description>SIMPLE Image Load</description>
  <author href="http://me.com" email="support@me.com">me</author>
  <preference name="permissions" value="none"/>
</widget>